body {
    background: linear-gradient(to right, #f8f9fa, #fff);
    font-family: 'Segoe UI', sans-serif;
}

.card {
    background-color: white;
    border-radius: 12px;
}

input.form-control:focus {
    border-color: #ffc107;
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25);
}
